/*ESTILO GENERAL */
body
{
    background-image: url("../Images/Layout/TramaLaterales.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #693312;
    width:1280px;
    height:661px;
}

#ContenedorPrincipal
{
    border-top: 1.5vh double black;
    border-bottom: 1.5vh double black;  
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

#MarcoLateral
{
    text-align:center;
    color:rgb(51,51,51);
}

#Secciones
{
    font-size:36px;
}

#EnConstruccion
{
    color: #E3E3E3;;
}

a
{
    color:rgb(51,51,51);
    background-color:transparent !important;
}

a:link   
{   
    text-decoration:none;
}  

a:focus
{
    color:rgb(51,51,51);
}

a:hover
{
    color:#fff;
}

/* ESTILOS ESPECÍFICOS EN ORDEN DE APARICIÓN */
#Foto
{
    height: 21.8vh;
    width: 12vw;
    display:block;
}

#MarcoLateral p, img
{
    text-align:center;
}

#MarcoLateral span
{
    font-weight:bold;
}

/* NAVBAR */
.container-fluid 
{
    border-radius:20px;
}

a[class~="dropdown-toggle"]
{
    color: rgb(51,51,51) !important;
}

a[class~="dropdown-toggle"]:hover
{
    background-color:transparent !important;
}

#DropdownRight
{
    text-align:center!important;
}

/* FOOTER */
footer
{
    color:#fff;
    text-align: center;
}

footer a
{
    color:#fff;
}

/*Medidas de col para sobreescribir width:100vw de .form-control. body = 1280vw*/
*[class~="col-md-1"]
{
    width: 8.33vw !important;
}

*[class~="col-md-2"]
{
    width: 16.66vw !important;
}

*[class~="col-md-3"]
{
    width: 25vw !important;
}

*[class~="col-md-4"]
{
    width: 33.33vw !important;
}

*[class~="col-md-5"]
{
    width: 41.66vw !important;
}

*[class~="col-md-6"]
{
    width: 50vw !important;
}

*[class~="col-md-7"]
{
    width: 58.33vw !important;
}

*[class~="col-md-8"]
{
    width: 66.66vw !important;
}

*[class~="col-md-9"]
{
    width: 75vw !important;
}

*[class~="col-md-10"]
{
    width: 83.33vw !important;
}

*[class~="col-md-11"]
{
    width: 91.66vw !important;
}

*[class~="col-md-12"]
{
    width: 100vw !important;
}



