#InputFirma
{
    display:none;
}

#DragFirma
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight:bold;
    text-align:center;
    color: rgb(51,51,51);
    border:3px solid rgba(51,51,51,.3);
    width: 24vw;
    height: 12.1020vh;
    display:none;
    cursor: pointer;
    background-color:rgba(255,255,255,.6);
    border-radius: 10px;
}

#DragFirma img
{
    height:7vh;
    width:3.7vw;
}



#InsertarEspecialidad
{
    display:none;
}

/*DEFINIR FUENTES RESPONSIVE!!!!*/

/*Body va en el Layout.css*/
body
{
    background-image: url("../Images/Layout/FondoPsi.png");
    background-size: 35% 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFDE61;
    width:100vw;
    height:100vh;
}
/*Estilo de elementos de Formulario*/

input
{
    border-radius: 10px;
    text-align:center;
    text-transform: uppercase;
}

#Email
{
    text-transform:none !important;
}

#Skype
{
    text-transform:none !important;
}

select
{
    border-radius: 10px;
}

#Submit
{
    font-family: inherit;
    font-weight: 900;
    color:black;
    border-radius: 10px;
    width: 83.33vw;
}

.form-control
{
    border-radius:10px;
}

#Firma
{
    font-family: 'Rochester', cursive;
    text-align:center;
    font-weight: 700;
    font-size: 400%;
    user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#Firmadiv
{
    width: 25vw;
    height: 10vh;
}

#Matricula
{
    height: 10vh;
}

#FotoPerfil
{
    height: 21.8vh;
    width: 12vw;
}

/* Fondo Transparente detras de cada Profdiv*/
form
{
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;   
}

/*Medidas de Columnas en vw para sobreescribir width:100vw de .form-control*/
*[class~="col-md-1"]
{
    width: 8.33vw !important;
}

*[class~="col-md-2"]
{
    width: 16.66vw !important;
}

*[class~="col-md-3"]
{
    width: 25vw !important;
}

*[class~="col-md-4"]
{
    width: 33.33vw !important;
}

*[class~="col-md-5"]
{
    width: 41.66vw !important;
}

*[class~="col-md-6"]
{
    width: 50vw !important;
}

*[class~="col-md-7"]
{
    width: 58.33vw !important;
}

*[class~="col-md-8"]
{
    width: 66.66vw !important;
}

*[class~="col-md-9"]
{
    width: 75vw !important;
}

*[class~="col-md-10"]
{
    width: 83.33vw !important;
}

*[class~="col-md-11"]
{
    width: 91.66vw !important;
}

*[class~="col-md-12"]
{
    width: 100vw !important;
}