body
{
    background-image: url("../Images/Layout/Trama.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #364010;
    width:1280px;
    height:661px;
}

h1
{
    color: #fff;
}

/* Marco Doble Linea Negra */
body>form>div 
{
    border-top: 1.5vh double black;
    border-bottom: 1.5vh double black;   
    height:50vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:20px;
}

/* Estilo General */
input
{
    text-align:center;
}

.oculto
{
    display:none;
}

/* Estilo Labels */
#Usuario>label
{
    text-align:left;
}

#Contraseña>label
{
    text-align:left;
}

/* Estilo Checkbox */
*[class~="form-check-label"]
{
    font-size:10px;
    text-align: left;
    display:inline-block;
    vertical-align: middle;
    width:62px;
}

/*Medidas de col para sobreescribir width:100vw de .form-control. body = 1280vw*/
*[class~="col-md-1"]
{
    width: 8.33vw !important;
}

*[class~="col-md-2"]
{
    width: 16.66vw !important;
}

*[class~="col-md-3"]
{
    width: 25vw !important;
}

*[class~="col-md-4"]
{
    width: 33.33vw !important;
}

*[class~="col-md-5"]
{
    width: 41.66vw !important;
}

*[class~="col-md-6"]
{
    width: 50vw !important;
}

*[class~="col-md-7"]
{
    width: 58.33vw !important;
}

*[class~="col-md-8"]
{
    width: 66.66vw !important;
}

*[class~="col-md-9"]
{
    width: 75vw !important;
}

*[class~="col-md-10"]
{
    width: 83.33vw !important;
}

*[class~="col-md-11"]
{
    width: 91.66vw !important;
}

*[class~="col-md-12"]
{
    width: 100vw !important;
}
