#especialista
{
    display:none;
}

/*DEFINIR FUENTES RESPONSIVE!!!!*/

/*Body va en el Layout.css*/
body
{
    background-image: url("../Images/Layout/FondoPsi.png");
    background-size: 35% 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFDE61;
    width:100vw;
    height:100vh;
}
/*Estilo de elementos de Formulario*/
input
{
    border-radius: 10px;
}

select
{
    border-radius: 10px;
}

#Submit
{
    font-family: inherit;
    font-weight: 900;
    color:black;
    border-radius: 10px;
}

.form-control
{
    /*display:inline;*/
    border-radius:10px;
}

.Matricula
{
    display:inline;
}


/* Fondo Transparente detras de cada Profdiv*/
#Profdiv1
{
    background-color: rgba(255, 255, 255, 0.5);
    height: 85vh;   
}

#Profdiv2
{
    background-color: rgba(255, 255, 255, 0.5);
    height: 85vh;   
}

/*Medidas de Columnas en % para sobreescribir width:100% de .form-control*/
*[class~="col-md-1"]
{
    width: 8.33% !important;
}

*[class~="col-md-2"]
{
    width: 16.66% !important;
}

*[class~="col-md-3"]
{
    width: 25% !important;
}

*[class~="col-md-4"]
{
    width: 33.33% !important;
}

*[class~="col-md-5"]
{
    width: 41.66% !important;
}

*[class~="col-md-6"]
{
    width: 50% !important;
}

*[class~="col-md-7"]
{
    width: 58.33% !important;
}

*[class~="col-md-8"]
{
    width: 66.66% !important;
}

*[class~="col-md-9"]
{
    width: 75% !important;
}

*[class~="col-md-10"]
{
    width: 83.33% !important;
}

*[class~="col-md-11"]
{
    width: 91.66% !important;
}

*[class~="col-md-12"]
{
    width: 100% !important;
}