#especialista
{
    display:none;
}

/*DEFINIR FUENTES RESPONSIVE!!!!*/

/*Quitar esto porque tiene que estar en el Layout*/
body
{
    background-image: url("../Images/Layout/FondoPsi.png");
    background-size: 25% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFDE61;
    width:100vw;
    height:100vh;
}
