/*POSICIONAMIENTO EN ORDEN DE APARICIÓN */
footer
{
    display:block;
    position:absolute; 
    top:116vh;
}


/* Corrige el margin left y right de -15px de la clase .row */
.row
{
    margin-left:0;
    margin-right:0;
}

/* Corrige el padding left y right de -15px de la clase .row */
.row, .SinPadding
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#InsertarEvolucion
{
    margin-left: 5.1563vw;
}

#Evolucion
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 23.3203vw !important;
    padding:10px 0 !important;
}

#ContenedorPrincipal
{
    margin-left:8.33vw !important;
    margin-right:8.33vw !important;
    margin-top: 0vh;
    padding: 10px 0!important;
}


h1
{
    margin-left:8.33vw !important;
}