/*POSICIONAMIENTO EN ORDEN DE APARICIÓN */
#DivContacto
{
    margin-left: 8.33vw;
    margin-right: 8.33vw;
}

footer
{
    display:block;
    position:absolute; 
    top:77.9123vh;
}

footer p
{
    display:inline;
}