/* POSICIONAMIENTO EN ORDEN DE APARICIÓN */
#ContenedorPrincipal
{
    margin: 10.8926vh 8.33vw 0 8.33vw !important;
    padding: 0 !important;
}

#MarcoLateral
{
    padding: 13.4583vh 8.33vw !important;
}

#Foto
{
    margin-left: 6.8714vw;
    margin-right: 6.8714vw;
}

#MarcoLateral p
{
    padding:0!important;
}

#MN
{
    display:block;
    margin-left: 2.0831vw !important;
    margin-right: 2.0831vw !important;
}

#MP
{
    margin-left: 2.0831vw !important;
    margin-right: 2.0831vw !important;
    display:block;
}

#Secciones
{
    /*padding-left: 8.33vw !important;*/
    padding-right: 7.5481vw !important;
}

footer
{
    top: 96vh !important;
}

footer p
{
    display:inline;
}

