<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="Stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="Stylesheet" href="../Content/StyleCss/StyleCrearHistoria.css">
    <link type="text/css" rel="Stylesheet" href="../Content/PositionCss/PositionCrearHistoria.css">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>
<body>
     <!--NAVBAR-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PsicoLog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Historia Clinica<span class="caret"></span></a>
              <ul class="dropdown-menu FondoTransparente">
                  <li><a href="#"><span class="glyphicon glyphicon-folder-open">&nbsp;</span>Historia Clínica</a></li>                           
                  <li><a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Nueva Historia Clínica</a></li>
              </ul>                              
            </li>
            <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-list-alt"></span>&nbsp; Evolución<span class="caret"></span></a>
              <ul class="dropdown-menu FondoTransparente">
                  <li><a href="#"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>Evolución</a></li>                           
                  <li><a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Nueva evolución</a></li>
              </ul>                              
            </li>
          </ul> 
          <ul class="nav navbar-nav navbar-right">
            <div>
              <img src="../Content/Images/Other/FotoPerfil.png" id="FotoNav"/> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">35123123<span class="caret"></span></a>
              <ul class="dropdown-menu" id="DropdownRight">
                  <li><a href="#">Editar</a></li>                           
                  <li><a href="#">Salir</a></li>
              </ul>                             
            </div>
          </ul>
        </div> 
      </div>
    </nav>
    <!--NAVBAR-->

    <!-- START VIEW -->    
    <div id="Encabezado">
        <h1>Nueva Historia Clínica</h1>
    </div>
    <form action="#" method="POST">
        <div class="form-group">
            <div class="col-md-6" id="Div1"> <!-- Datos Paciente -->
                <div class="col-md-6"> <!-- Apellido y Nombre -->
                    <label>Apellido y Nombre</label><br>
                    <input type="text" class="form-control col-md-6" name="ApellidoyNombre"/>
                </div><br>
                <div id="DNI" class="col-md-3"> <!-- DNI -->
                        <label class="col-md-2">DNI</label> <br>
                        <input type="text" name="DNI" class="form-control"/>
                </div><br>
                <div id="Nacionalidad" class="col-md-3"> <!-- Nacionalidad -->
                        <label class="col-md-2">Nacionalidad</label> <br>
                        <input type="text" name="Nacionalidad" class="form-control"/>
                </div><br>
                <div class="col-md-2"> <!-- Género -->
                    <label class="col-md-2">Género</label> <br>
                    <select name="Genero" class="form-control col-md-2" id="Genero">
                            <option value="M" default>Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="Otro">Otro</option>
                    </select>
                </div>                
                <div id="EstadoCivil" class="col-md-2"> <!-- Estado Civil -->
                        <label class="col-md-2">Estado Civil</label><br>
                        <select name="EstadoCivil" class="form-control col-md-2">
                            <option value="Soltero/a" default>Soltero</option>
                            <option value="En Pareja"> En Pareja</option>
                            <option value="Casado/a"> Casado/a </option>
                            <option value="Divorciado/a"> Divorciado/a </option>
                            <option value="Viudo/a"> Viudo/a </option>
                        </select>
                </div><br>
                <div id="FechaNacimiento" class="col-md-2"> <!-- Fecha de Nacimiento -->
                        <label class="col-md-2 Años">(?? Años)</label><br>
                        <input type="date" name="FechaNacimiento" class="form-control"/>
                </div><br>
                <div class="col-md-2"> <!-- Estudios Alcanzados -->
                        <label class="col-md-2">Estudios Alcanzados</label><br>
                        <select name="EstudiosAlcanzados" class="form-control col-md-2" id="EstudiosAlcanzados">
                            <option value="PrimarioIncompleto">Primario Incompleto</option>
                            <option value="PrimarioCompleto"> Primario Completo</option>
                            <option value="SecundarioIncompleto"> Secundario Incompleto</option>
                            <option value="SecundarioCompleto" selected> Secundario Completo</option>
                            <option value="UniversitarioIncompleto"> Universitario Incompleto</option>
                            <option value="UniversitarioCompleto"> Universitario Completo</option>
                            <option value="Posgrado"> Posgrado</option>
                        </select>
                </div><br>
                <div id="Carrera" class="col-md-4"> <!-- Carrera -->
                        <label class="col-md-2">Carrera</label><br>
                        <input type="text" name="Carrera" class="form-control"/>
                </div><br>                
                <div id="Ocupacion" class="col-md-4"> <!-- Ocupación -->
                        <label class="col-md-2">Ocupación</label><br>
                        <input type="text" name="Ocupacion" class="form-control"/>
                </div><br>
                <div id="Residencia" class="col-md-2"> <!-- Residencia -->
                        <label class="col-md-2">Lugar de Residencia</label> <br>
                        <input type="text" name="Residencia" class="form-control" placeholder="CABA"/>
                </div><br>
                <div id="VinculosSignificativos" class="col-md-6">            
                    <label class="col-md-3">Vínculos Significativos</label><label id="VSFechaNacimientoLabel" class="col-md-2 Años">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(?? Años)</label> <button id="AgregarVinculo" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button><br> 
                        <input type="text" name="VSVinculo" class="form-control col-md-1" placeholder="VÍNCULO"/>
                        <input type="text" name="VSApellidoNombre" class="form-control col-md-2" placeholder="APELLIDO Y NOMBRE"/>   
                        <input type="date" name="VSFechaNacimiento" class="form-control col-md-1" id="VSFechaNacimiento"/>
                        <input type="text" name="VSOcupacion" class="form-control col-md-1" placeholder="OCUPACIÓN"/>
                        <select name="VSConvive" class="form-control col-md-1">
                                <option value="Convive" default>CONVIVE</option>
                                <option value="No Convive"> NO CONVIVE</option>
                        </select>
                </div>
                <div id="ObraSocial"> <!-- OOSS -->
                    <div class="col-md-3">
                        <label class="col-md-2">Obra Social</label><br>
                        <input type="text" name="ObraSocial" class="form-control col-md-3"/> 
                    </div>
                    <div class="col-md-3">
                        <label class="col-md-2">Plan</label><br>
                        <input type="text" name="Plan" class="form-control col-md-3"/>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-2">Credencial N°</label><br>
                        <input type="text" name="Credencial" class="form-control col-md-6"/>
                    </div>
                </div><br>  
                <div id="Observaciones" class="col-md-6"> <!-- Observaciones -->
                        <label class="col-md-2">Observaciones</label><br>
                        <textarea name="Observaciones" class="form-control"></textarea>
                </div><br>  
            </div>

            <div class="col-md-4" id="Div2"> <!-- Datos de Contacto -->   
                <!-- Foto Perfil de ejemplo y div de Seleccionar o Arrastrar -->
                <img src="../Content/Images/Other/FotoPerfil.png" class="img-rounded text-center" id="FotoPerfil"/>
                <div id="DragFotoPerfil" class="Drag">
                    <div>
                        <p>SELECCIONA</p>
                        <img src="../Content/Images/Other/Clip.png" class="Clip"/>
                        <p>ARRASTRA</p>
                    </div>
                </div>
                <input type="file" id="InputFoto" name="FotoPerfil" class="Invisible" onchange="handleFiles(this.files)"/>
                <div class="row" id="Celular"> <!-- Celular -->
                    <label id="CelularLabel"><span class="glyphicon glyphicon-phone"></span>&nbsp; Celular</label> <br>
                    <input type="text" name="Celular" class="form-control col-md-3"/> <br>
                </div>
                <div class="row" id="Telefono"> <!-- Teléfono -->
                    <label id="TelefonoLabel"><span class="glyphicon glyphicon-earphone"></span>&nbsp; Teléfono</label> <br>
                    <input type="text" name="Telefono" class="form-control col-md-3"/> <br>
                </div>
                <div class="row" id="Email"> <!-- Email -->
                    <label id="EmailLabel"><span class="glyphicon glyphicon-envelope"></span>&nbsp; Email</label> <br>
                    <input type="email" name="Email" class="form-control col-md-3 Minuscula"/> <br>
                </div>
                <div class="row" id="Skype"> <!-- Skype -->
                    <label id="SkypeLabel"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp; Skype</label> <br>
                    <input type="text" name="Skype" class="form-control col-md-3 Minuscula"/> <br>
                </div>
                <div class="row" id="Direccion"> <!-- Dirección -->
                    <label id="DireccionLabel"><span class="glyphicon glyphicon-screenshot"></span>&nbsp; Dirección</label> <br>
                    <input type="text" name="Direccion" class="form-control col-md-3"/> <br>
                </div>
                <div class="row" id="Referencia"> <!-- Número de Referencia -->
                    <label id="ReferenciaLabel"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; Número de Referencia</label> <br>
                    <input type="text" name="ReferenciaNombre" class="form-control col-md-3" placeholder="Nombre y Vínculo"/> <br>
                    <input type="text" name="ReferenciaNumero" class="form-control col-md-3" placeholder="Número"/> <br>
                </div><br>
 
            </div>
            <input type="submit" value="Cargar" class="btn btn-success" id="Submit">
        </div>
    </form>    
    
    <!-- END VIEW -->

    <!-- SCRIPTS -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="../Scripts/CrearHistoria.js"></script>
</body>
<footer>
</footer>
</html>
