<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="Stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="Stylesheet" href="../Content/StyleCss/StyleLogin.css">
    <link type="text/css" rel="Stylesheet" href="../Content/PositionCss/PositionLogin.css">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>
<body>
    <h2>Inicio de Sesión</h2>
    <p>¿Aun no tiene su Cuenta?</p>
    <a href="#">Cree su Cuenta Profesional</a>
    <p>¡Ya tengo Mi Cuenta!</p>
    <div id="Usuario">
        <label>Usuario</label><br>
        <input type="text" name="Usuario"><br>
    </div>
    <div id="Contraseña">
        <label>Contraseña</label><br>
        <input type="password" name="Contraseña"><br>
    </div><br>
    <a href="#"><button>Siguiente</button></a>

    
    
    
    
    
    
    
    
    
    
    <!-- SCRIPTS -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../Scripts/Login.js"></script>
</body>
<footer>
</footer>
</html>