<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="Stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="Stylesheet" href="../Content/StyleCss/StyleProfesional.css">
    <link type="text/css" rel="Stylesheet" href="../Content/PositionCss/PositionProfesional.css">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!--NAVBAR-->

    <!-- START VIEW -->
    <form action="#" method="POST">
        <div class="form-group">
            <div class="col-md-8" id="Profdiv1">
                <label>Apellido y Nombre</label>
                    <br> <select name="Titulo" id="Titulo" class="form-control col-md-1">
                        <option value="Lic." default>Lic.</option>
                        <option value="Mg.">Mg.</option>
                        <option value="Dr.">Dr.</option>
                    </select>
                    <input type="text" class="form-control col-md-5"/><br>
                    <!-- El input de Especialidad aparece sólo si se elige Mg. o Dr. -->
                    <div id="especialista"> 
                        <label>Esp. en: </label>
                        <input type="text" name="Esp."/> 
                    </div><br>
                    <div class="form-inline" id="Matricula">
                        <label>Matrícula</label> <br>
                        <div class="form-group">
                            <label class="col-md-1 text-center alineadovertical">MN</label>
                            <input type="text" name="MN" id="MN" class="form-control col-md-2"/>
                        </div><br>
                        <div class="form-group"> 
                            <label class="col-md-1 text-center alineadovertical">MP</label>
                            <input type="text" name="MP" id="MP" class="form-control col-md-2 "/>
                        </div>
                    </div> <br>
                <div id="Firmadiv">
                    <label>Firma Digital</label> <br>
                        <p id="Firma">Juan Perez</p> <br>
                </div>
                <div id="Direccion">
                <label>Dirección Profesional / Institucional</label> <br>
                    <input type="text" name="DireccionProf" class="form-control col-md-6"/>
                </div>
            </div>
            <div class="col-md-4" id="Profdiv2">    
                <img src="C:\Users\Guido\Desktop\Comunidad IT\Proyecto-Final-\Content\Images\Other\FotoPerfil.png" name="FotoPerfil" id="FotoPerfil"/><br>
                <div class="row">
                <label><span class="glyphicon glyphicon-phone"></span> Celular</label> <br>
                    <input type="text" name="Cel" class="form-control col-md-3"/> <br>
                </div>
                <div class="row">
                <label><span class="glyphicon glyphicon-earphone"></span> Teléfono</label> <br>
                    <input type="text" name="Tel" class="form-control col-md-3"/> <br>
                </div>
                <div class="row">
                <label><span class="glyphicon glyphicon-envelope"></span> Email</label> <br>
                    <input type="email" name="Email" id="Email"class="form-control col-md-3"/> <br>
                </div>
                <div class="row">
                <label><span class="glyphicon glyphicon-facetime-video"></span> Skype</label> <br>
                    <input type="text" name="Skype" id="Skype" class="form-control col-md-3"/> <br>
                </div>
            </div>
            <input type="submit" value="Cargar" class="btn btn-success" id="Submit">
        </div>
    </form>    
    <!-- END VIEW -->

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../Scripts/Profesional.js"></script>
</body>
<footer>
</footer>
</html>
