@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Styles{
    <link type="text/css" rel="Stylesheet" href="~/Content/StyleCss/StyleContacto.css">
    <link type="text/css" rel="Stylesheet" href="~/Content/PositionCss/PositionContacto.css">
    }

    <div class="col-md-10" id="DivContacto">
        <h1> ¡Contáctanos!, el equipo de PsicoLOG te responderá a la brevedad </h1>
        <h3> Por favor, envíanos un mail a <strong><span>soporte@psicolog.com</span></strong> </h3>
    </div>
    
    <!-- SCRIPTS -->
    @section Scripts{
        <script src="~/Scripts/Contacto.js"></script>
        }    


