@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Styles{
    <link type="text/css" rel="Stylesheet" href="~/Content/StyleCss/StyleMain.css">
    <link type="text/css" rel="Stylesheet" href="~/Content/PositionCss/PositionMain.css">
}

    <div id="ContenedorPrincipal" class="col-md-10">       
       <div id="MarcoLateral" class="col-md-5"> 
            <img src="../Content/Images/Other/FotoPerfil.png" class="img-rounded" id="Foto"/>
            <label>LIC. PÉREZ, JUAN</label><br>
            <label>Psicólogo </label><br>
            <p> <span>Especialista en:</span> <em>Niños y Adolescentes</em> </p>
            <p class="col-md-1" id="MN"> <span>MN:</span> <em>123456</em> </p> <p class="col-md-1" id="MP"> <span>MP:</span> <em>123456</em> </p> <br><br>
            <p> <em>Av. de Mayo 123, CABA</em> </p>
        </div><br>
        <div id="Secciones"  class="col-md-5">
            <a href="@Url.Action("Historia","HistoriaClinica")"><p><span class="glyphicon glyphicon-folder-open">&nbsp;</span> Historia Clínica </p></a>
            <a href="@Url.Action("Evolucion","Evolucion")"><p><span class="glyphicon glyphicon-list-alt">&nbsp;</span> Evolución </p></a>
            <div id="EnConstruccion">
                <p><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span> Seguimiento </p>
                <p><span class="glyphicon glyphicon-save-file">&nbsp;</span> Informes </p>
                <p><span class="glyphicon glyphicon-barcode">&nbsp;</span> Facturación </p>
                <p><span class="glyphicon glyphicon-calendar">&nbsp;</span> Agenda </p>
                <p><span class="glyphicon glyphicon-envelope">&nbsp;</span> Mail </p>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    @section Scripts{
        <script src="~/Scripts/Main.js"></script>
        }

