/*ESTILOS GENERALES*/
body /*Para Apreciar el footer */
{
    background-color: #E5CA53; 
}

a
{
    color: rgb(51,51,51) !important;
    text-decoration: none !important;
    background-color:transparent !important;
}

/*ESTILOS ESPECÍFICOS EN ORDEN DE APARICIÓN */
#Paciente>input
{
    text-align:center;
    text-transform: uppercase;
}

.form-control /*Borde redondeado y texto centrado de los <p> */
{
    border-radius:10px;
    text-align:center;
}

#Evolucion
{
    font-size:14px;
}


#ContenedorPrincipal, #Evolucion
{
    border-top: 1.5vh double black;
    border-bottom: 1.5vh double black;  
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}


#ContenedorPrincipal a 
{
    color: rgb(51,51,51) !important;
    font-size:20px !important;
}

#ContenedorPrincipal a:hover
{ 
    color: #fff !important;
}

a
{
    color: rgb(51,51,51) !important;
    text-decoration: none !important;
    background-color:transparent !important;
}

h1[class="col-md-6 SinPadding"]
{
    text-align: center;
}