/* ESTILO GENERAL*/
body
{
    background-image: url("../Images/Layout/TramaLaterales.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0F1F63;
    width:1280px;
    height:661px;
}

#ContenedorPrincipal
{
    border-top: 1.5vh double black;
    border-bottom: 1.5vh double black;  
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

a
{
    color: rgb(51,51,51) !important;
    text-decoration: none !important;
    background-color:transparent !important;
}

/*ESTILOS ESPECÍFICOS EN ORDEN DE APARICIÓN*/

/*NAVBAR*/
.container-fluid 
{
    border-radius:20px;
}

#DropdownRight
{
    text-align:center;
}

/*------*/
h1
{
    font-weight:500;
    font-size: 36px !important;            
    color: #fff;
    text-align: left;
    width: 20.8250vw;
}

#Buscador input
{
    text-transform: uppercase;
}

#OpcionesBusqueda>a
{
    color: #fff !important;
}

#OpcionesBusqueda>a:hover
{
    color: #fff !important;
    text-decoration: none !important;
}

#ContenedorPrincipal a 
{
    color: rgb(51,51,51) !important;
    font-size:20px !important;
}

#ContenedorPrincipal a:hover
{
    color: #fff !important;
}

#Paginacion 
{
    font-size: 20px !important;
    text-align: center;
}

footer
{
    color:#fff;
    text-align: center;
    width:100%;
}

footer>a
{
    color: #fff !important;
}

footer>a:hover
{
    color: #fff !important;
    text-decoration: none !important;
}

/*Medidas de col para sobreescribir width:100vw de .form-control. body = 1280vw*/
*[class~="col-md-1"]
{
    width: 8.33vw !important;
}

*[class~="col-md-2"]
{
    width: 16.66vw !important;
}

*[class~="col-md-3"]
{
    width: 25vw !important;
}

*[class~="col-md-4"]
{
    width: 33.33vw !important;
}

*[class~="col-md-5"]
{
    width: 41.66vw !important;
}

*[class~="col-md-6"]
{
    width: 50vw !important;
}

*[class~="col-md-7"]
{
    width: 58.33vw !important;
}

*[class~="col-md-8"]
{
    width: 66.66vw !important;
}

*[class~="col-md-9"]
{
    width: 75vw !important;
}

*[class~="col-md-10"]
{
    width: 83.33vw !important;
}

*[class~="col-md-11"]
{
    width: 91.66vw !important;
}

*[class~="col-md-12"]
{
    width: 100vw !important;
}