/* ESTILO GENERAL DEL FORMULARIO */
body
{
    background-image: url("../Images/Layout/TramaLaterales.png");
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: center;
    background-color: #E5CA53; 
    width:1280px;
    height:auto;
}

#Todo /* Fondo Transparente */
{
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;
    border-top: 1.5vh double black;
    border-bottom: 1.5vh double black;   
    border-radius:20px;
}

input /*Estilo de los input */
{
    border-radius: 10px;
    text-align:center;
    text-transform: uppercase;
}

.form-control /*Borde redondeado y texto centrado de los <p> */
{
    border-radius:10px;
    text-align:center;
}

/* ESTILOS ESPECÍFICOS EN ORDEN DE APARICIÓN */

#FotoNav
{
    width:45px; 
    height:45px;
}

h1
{
    font-weight:500;
    font-size: 36px !important;            
    color: rgb(51,51,51);
}

#EstudiosAlcanzados>p, #MTContacto>p
{
    font-size: 12px;
}

#NuevaEvolucion
{
    border-top: 1px double black;
    border-bottom: 1px double black;
    border-radius:20px;
    background-color: #fff;
}

#FirmaEvolucion>img
{
    width:16.33vw;
    height:auto;
}

#FirmaEvolucion>p
{
    text-align:center;
}

#FotoPerfil 
{
    height: 21.8vh;
    width: 12vw;
    display:block;
}

.Minuscula /* Se aplica al Email y Skype Input */
{
    text-transform:none !important;
}