#InputFirma
{
    z-index:-1;
}


#DragFirma
{    
    padding-top:2.5703vh;
    padding-bottom:2.5703vh;
}

#DragFirma p
{
    display:inline;
}



#Profdiv1
{
    position:relative;
    padding-left: 8.33vw;
    padding-right: 8.33vw;
    top: 12.3298vh;
    bottom: 12.3298vh;
}

#Profdiv2
{
    position:relative;
    padding-right: 8.33vw;
    padding-left:0px;
}

#Profdiv2>img
{
    margin-left:6.4998vw;
}


.alineadovertical
{
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

#Submit
{
    position:relative;
    margin-left: 8.33vw;
    margin-right: 8.33vw;
}

#MP
{
    padding-left:0.3906vw;
    padding-right:0.3906vw;
}

#MN
{
    padding-left:0.3906vw;
    padding-right:0.3906vw;
}

#Direccion
{
    margin-top:6vh;
}

#Firmadiv
{
    position: relative;
    z-index: 2;
    bottom: 1.5129vh;
    left:25vw;
    padding-left:1vw;
}
#Firma
{
    margin-bottom:0 !important;
}

#Telefono
{
    margin-top: 0.643vh;
}

#Skype
{
    margin-top: 0.643vh;
}

#Firmadiv>label
{
    margin-left:16.66vw;
}

#CelularLabel
{
    margin-left: 9.6875vw;
    margin-right: 9.6875vw;
}

#TelefonoLabel
{
    margin-left: 9.2980vw;
    margin-right: 9.2980vw;
}

#EmailLabel
{
   margin-left: 10.1953vw; 
   margin-right: 10.1953vw; 
}

#SkypeLabel
{
    margin-left: 10vw;
    margin-right: 10vw;
}



#Matricula
{
    position:absolute;
    z-index: 1;
    margin-top: 1.5129vh;    
}

form
{
    margin-top: 12vh;
    margin-bottom: 12vh;
}

#Matricula>div[class="form-group"]
{
    padding-top:0.3404vh;
    padding-bottom:0.3404vh;
}

/* Para corregir el margin left y right de -15px en .row*/
.row
{
    margin-left:0;
    margin-right:0;
}

#Titulo
{
    padding: 0 2.40vw;
}

