#ContenedorPrincipal
{
    margin-left:8.33vw !important;
    margin-right:8.33vw !important;
    margin-top: 10.8926vh;
    margin-bottom: 10.8926vh;
    padding: 0 !important;
}

#MarcoLateral
{
    padding-left: 16.66vw !important;
    padding-right: 0 !important;
}

#Secciones
{
    /*padding-left: 8.33vw !important;*/
    padding-right: 7.5481vw !important;
}

nav
{
    margin: 0 !important;
}

#Foto
{
    margin-left: 6.8714vw;
    margin-right: 6.8714vw;
}

#MarcoLateral p
{
    padding:0!important;
}

#MN
{
    display:block;
    margin-left: 2.0831vw !important;
    margin-right: 2.0831vw !important;
}

#MP
{
    margin-left: 2.0831vw !important;
    margin-right: 2.0831vw !important;
    display:block;
}