#Profdiv1
{
    position:relative;
    padding-left: 8.33vw;
    padding-right: 8.33vw;
}


#Profdiv2
{
    position:relative;
    padding-right: 8.33vw;
}

.alineadovertical
{
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

#Submit
{
    position:relative;
}


#MP
{
    padding-left:0.3906vw;
    padding-right:0.3906vw;
}

#MN
{
    padding-left:0.3906vw;
    padding-right:0.3906vw;
}

#Direccion
{
    margin-top:6vh;
}

#Firmadiv
{
    position: relative;
    z-index: 2;
    bottom: 1.5129vh;
    left:25vw;
    padding-left:1vw;
}

#Firmadiv>label
{
    margin-left:16.66vw;
}

#Matricula
{
    position:absolute;
    z-index: 1;
    margin-top: 1.5129vh;    
}

#Matricula>div[class="form-group"]
{
    padding-top:0.3404vh;
    padding-bottom:0.3404vh;
}

/* Para corregir el margin left y right de -15px en .row*/
.row
{
    margin-left:0;
    margin-right:0;
}

#Titulo
{
    padding-left: 0.3906vw;
    padding-right: 0.3906vw;
}

