/* POSICIONAMIENTO EN ORDEN DE APARICIÓN */
nav
{
    margin: 0 !important;
}

ul[class~="navbar-right"]
{
    margin-left: 59.375vw;
}


#ContenedorPrincipal
{
    margin-left:8.33vw !important;
    margin-right:8.33vw !important;
    margin-top: 10.8926vh;
    margin-bottom: 0;
    padding: 0 !important;
}

#MarcoLateral
{
    padding-left: 8.33vw !important;
    padding-right: 8.33vw !important;
    padding-top: 13.4583vh;
    padding-bottom: 13.4583vh;
}

#Foto
{
    margin-left: 6.8714vw;
    margin-right: 6.8714vw;
}

#MarcoLateral p
{
    padding:0!important;
}

#MN
{
    display:block;
    margin-left: 2.0831vw !important;
    margin-right: 2.0831vw !important;
}

#MP
{
    margin-left: 2.0831vw !important;
    margin-right: 2.0831vw !important;
    display:block;
}

#Secciones
{
    /*padding-left: 8.33vw !important;*/
    padding-right: 7.5481vw !important;
}

footer p
{
    display:inline;
}

