/*POSICIONAMIENTO EN ORDEN DE APARICIÓN */
#BusquedaNav
{
    top:6.5px;
    margin-left: 8.33vw;
}

#FotoNav
{
    display:inline-block;
}

footer
{
    display:block;
    position:absolute; 
    top:77.9123vh;
}

footer p
{
    display:inline;
}



/* Corrige el margin left y right de -15px de la clase .row */
.row
{
    margin-left:0;
    margin-right:0;
}

/* Corrige el padding left y right de -15px de la clase .row */
.row, .SinPadding
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#InsertarEvolucion
{
    margin-left: 5.1563vw;
}

#Evolucion
{
    margin-top: 20px;
    margin-bottom: 20px;
}
