/* ESTILO DE POSICIÓN GENERAL*/
input
{
    padding: 0 !important;
}

form>div>div>div
{
    padding:0 !important;
}

label
{
    padding: 0 !important;
}

/* Corrige el margin left y right de -15px de la clase .row */
.row
{
    margin-left:0;
    margin-right:0;
}

.QuitarVinculo
{
    padding: 2px 12px !important;
    margin-left: 5.1563vw;
}

/* ESTILO DE POSICIÓN ESPECÍFICO*/
#Div1 /* DATOS GENERALES */
{
    margin-left:8.33vw;
    margin-right:8.33vw;
    padding-left: 0 !important;
    padding-right: 0 !important;    
}

h1
{
    padding-left:15px;
    display: inline;
}

#Genero 
{
    padding-left: 4.8925vw;
}

#EstudiosAlcanzados
{
    padding-left: 25px;
}

#AgregarVinculo
{
    padding:2px 12px !important;
    margin-left: 5.1563vw;
}

#ObraSocial>div
{
    padding:0 !important;
}

#Div2 /* DATOS DE CONTACTO */
{
    position:relative;
    padding-right: 8.33vw;
    padding-left:0px;
}

#Div2>img /* Posiciona la FotoPerfil de Ejemplo */
{
    margin-left:6.4998vw;
}

/* DRAGFOTOPERFIL */
#DragFotoPerfil div
{
    margin-top: 3.94vh;
    margin-bottom: 3.94vh;
}

#DragFotoPerfil
{
    margin-left: 6.5vw;
}

#DragFotoPerfil p
{
    margin:0 !important;
}

#InputFoto
{
    z-index:-1;
}

/* CENTRAR LABELS */
#Div2 label /* Alínea los labels de Datos de Contacto Verticalmente */
{
    margin-top: 0.643vh;
}

#CelularLabel
{
    margin-left: 9.6875vw;
    margin-right: 9.6875vw;
}

#TelefonoLabel
{
    margin-left: 9.2980vw;
    margin-right: 9.2980vw;
}

#EmailLabel
{
   margin-left: 10.1953vw; 
   margin-right: 10.1953vw; 
}

#SkypeLabel
{
    margin-left: 10vw;
    margin-right: 10vw;
}

#DireccionLabel
{
    margin-left: 9.0235vw;
    margin-right: 9.0235vw;
}

#ReferenciaLabel
{
    margin-left: 5.4688vw;
    margin-right: 5.4688vw;
}

#Submit
{
    position:relative;
    margin-left: 8.33vw;
    margin-right: 8.33vw;
}






/*----------------------------------------------------------------------------------*/

#Diagnostico, #Diagnostico>div
{
    padding: 0 !important;
}



